---
layout: default
title: Gereksiz
categories: Home
---

<div id="home">
   <p class="intro">blog</p>
   
   <h2>Blog posts</h2>
   <ul class="posts">
      {% assign iter = 0 %}
      
      {% for post in site.categories.computers %}
         <li><span>&gt; {{ post.date | date_to_string }}</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
         {% assign iter = iter + 1 %}
         {% if iter == 10 %}
            {% break %}
         {% endif %}
      {% endfor %}
   </ul>
   
   <h2>Fiction</h2>
   <ul class="posts">
      {% assign iter = 0 %}
      
      {% for post in site.categories.computers %}
         <li><span>&gt; {{ post.date | date_to_string }}</span> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
         {% assign iter = iter + 1 %}
         {% if iter == 10 %}
            {% break %}
         {% endif %}
      {% endfor %}
   </ul>
</div>
